@charset "utf-8";

header {
  display: flex;
  font-size: 24px;
  line-height: 40px;
}

.add {
  font-size: 38px;
  margin-left: auto;
}

button {
  all: unset;
  font-weight: bold;
  margin: 0 20px;
  cursor: pointer;
}

button:hover {
  opacity: .6;
}

main {
  background: white;
  padding: 8px;
}

.container {
  background: #9cf;
  width: 90%;
  margin: 16px auto;
  padding: 8px;
}

.hiden {
  display: none;
}

@media (max-width:600px) {
  header {
    display: flex;
    font-size: 18px;
    line-height: 30px;
  }

  button {
    margin: 0 10px;
  }
}