@charset "utf-8";

body,
header,
h1,
p {
  margin: 0;
  user-select: none;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

body {
  margin: 0;
}
