@charset "utf-8";

h1 {
  margin-top: 10px;
  font-size: 26px;
  border-bottom: 1px solid #ccc;
}

h2 {
  margin: 10px 0 0;
  width: 10%;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

ul {
  font-size: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
}

li input {
  margin: auto 10px;
  cursor: pointer;
}

li input:checked+span {
  color: #aaa;
  text-decoration: line-through;
}

li span {
  display: flex;
  width: 100%;
}

li span p {
  padding: 4px;
}

li button {
  all: unset;
  font-size: 30px;
  margin: auto 2px;
  cursor: pointer;
}

li button:hover {
  opacity: .6;
}

.time {
  margin: auto 4px;
}

.borderline {
  background: black;
  color: transparent;
  padding: 1px;
  margin: 0 2px;
}

.title {
  word-break: break-all;
  margin: 0 4px;
}

.editbtn {
  width: 20px;
  margin: auto 10px auto 0;
  cursor: pointer;
}

.editbtn:hover {
  opacity: .6;
}

@media (max-width:600px) {
  h1 {
    margin-top: 8px;
    font-size: 18px;
  }

  h2 {
    margin: 4px 0 0;
    width: 18%;
    font-size: 16px;
  }

  ul {
    font-size: 16px;
  }

  li {
    margin-top: 10px;
  }

  li input {
    margin: auto 2px;
    transform: scale(1.0);
  }

  li span p {
    padding: 2px;
  }

  li button {
    font-size: 26px;
  }

  .time {
    margin: auto 1px;
    font-size: 14px;
  }

  .editbtn {
    width: 18px;
    margin: auto 6px auto auto;
  }
}